@{
    Layout = "_Layout";
}

<body>
    <form class="form-group" action="/pets" method="post">
        <div class="form-group">
            <label for="name">Add a new pet</label>
            <input class="form-control" id="name" name="name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add!</button>
    </form>
</body>